.col-wrap {
    display: table;
    width: 100%;
}


.col-md-3 {
    display: table-cell;
    padding: 1rem;
}

.single_cbox {
    background: #f6fbff;
    border-radius: 10px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

@media (min-width: 995px) {
    .single_cbox {
        min-height: 400px;
    }
}


    .single_cbox:hover {
        background: #9dcef3;
        color: aliceblue;
    }

.background_grey {
    padding-left: 35px;
    padding-top: 20px;
    background: none;
}

.latest_news {
    margin-top: -70px;
}

a.single_latest_news, .single_latest_news {
    margin-bottom: -30px;
}

.clickadd {
    font-size: 18px;
}

.cc {
    text-align: center;
}
.col-lg-9 {
    text-align: center;
    display: inline-block;
    margin-top: 1%;
}

    .cc h2 {
        color: #ffbc09;
    }

    .cc h3 {
        color: aliceblue;
    }

.col {
    margin-bottom: 80px;
}

.video ul {
    width: 100%;
    height: 200px;
}

.add {
    float: right;
}

.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: #58c;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
    font-size: initial;
    font-family: Helvetica Neue;
    font-weight: 900;
    font-style: normal
}

.button:hover{
    background:#007bff;
    border:2px solid #EDF7FF;
}

    .button > div {
        color: #999;
        font-size: 10px;
        font-family: Helvetica Neue;
        font-weight: initial;
        font-style: normal;
        text-align: center;
        margin: 0px 0px 0px 0px
    }

    .button > i {
        font-size: 1em;
        border-radius: 0px;
        border: 0px solid transparent;
        border-width: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        position: static
    }

    .button > .ld {
        font-size: initial
    }
    .button:hover {
        background-color: #50ACF1;
    }
    .line_tintuc {
        margin-bottom: 20px;
        margin-top: 25px;
    }

.list_video {
    padding: 10px 15px !important;
    background-color: #EDF7FF !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    -moz-box-shadow: 3px 3px #888888;
    -webkit-box-shadow: 3px 3px #888888;
    box-shadow: 3px 3px #888888;
}

.section_title_video {
    font-size: 35px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.tieude-TT {
    color: #007bff;
}
.single_latest_news h5:hover {
    color: #0056b3;
}