.bv-column-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bv-column-align-right {
    text-align:right;
}
.bv-column-align-center {
    text-align: center;
}

.k-thumb img {
    width: 70px;
}